@model User

<!DOCTYPE html>
<html>
<head>
    <title>Registation Form</title>
</head>
<body>
    <form action="User/Index" method="post">
        <label>First Name:</label><input type="text" name="FirstName" value="" />
        <label>Last Name: </label><input type="text" name="FirstName" value="" />
        <label>Email: </label><input type="text" name="FirstName" value="" />
        <label>Id</label><input type="text" name="FirstName" value="" />
    </form>
    @using (Html.BeginForm(null,null,FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @//Html.DropDownListFor(c=>c)
    }
 




</body>
</html> 